.parent {
    background-color: red;
    display: flex;
    width: 500px;
    height: 500px;
    flex-flow: row-reverse nowrap;
    
    
}


.parent div {
    background-color: green;
    border: solid 1px;
    width: 100px;
    height: 100px;
}

ul {
    list-style: none;
}
